.info-component{
  padding: 2vw;
}

.info-component h1 {
  font-size: 1.8rem;
  margin: 0;
  padding-bottom: 1vw;
}

.info-p a {
  text-decoration: underline !important;
}

.info-p a:hover {
  color: var(--blue) !important;
  transition: all 0.3s;
}